.container {
  margin: 25px auto;
  padding: 24px;
  border-radius: 15px;
  box-shadow: 3;
  overflow: hidden;
  width: calc(100% - 48px);
  box-sizing: border-box;
  color: black;
}

.heading {
  font-weight: bold !important;
  color: var(--primary-color);
}

.courseContainer{
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  gap: 15px;
  margin: 20px 0;
}

@media (max-width: 900px) {
  .courseContainer{
    display: flex;
    flex-direction : column-reverse
  }
}