.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: calc(100vh - 80px); 
}

.videoContent{
background-color: rgb(163, 184, 184);
}

.fileContent{
background-color: rgb(108, 108, 161);
}