.container {
    display: grid;
    grid-template-columns: 214.5px auto; 
    width: 100%;
}

.sideBar {

}

.mainSide {
    margin: 35px auto;
    width: 70%;
}

@media (max-width: 768px){
    .container {
        grid-template-columns: 80px auto; 
    }
}

