/* Container for the dashboard layout */
.container {
  display: flex;
  flex-direction: row;
  width: 100%; /* Takes full width of the screen */
  min-height: calc(100vh - 80px); /* Takes full height of the screen */
}

/* Sidebar styling */
.SideBar {
  flex: 0 0 250px; /* Sidebar fixed width */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  color: white;
}

/* Main content area */
.mainSide {
  flex: 1; /* Takes the remaining space */
}

@media (max-width: 768px) {
  .SideBar {
    flex: 0 0 80px; /* Sidebar fixed width */
    ;
  }
}

@media (max-width: 480px) {
  .SideBar {
    flex: 0 0 60px; /* Sidebar fixed width */
    ;
  }
}